<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">

    <context:component-scan base-package="com.hisw"/>
    <mvc:annotation-driven/>

    <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
    <!--<property name="prefix" value="/WEB-INF/views/"/>-->
    <!--<property name="suffix" value=".jsp"/>-->
    <!--</bean>-->

    <!-- 配置SpringMVC的视图解析器 httl视图 -->
    <!--<bean id="viewResolver" class="httl.web.springmvc.HttlViewResolver">-->
    <!--<property name="contentType" value="text/html; charset=UTF-8" />-->
    <!--</bean>-->

    <!-- velocity view config -->
    <bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath" value="/WEB-INF/templates/"/>
        <property name="velocityProperties">
            <props>
                <prop key="input.encoding">UTF-8</prop>
                <prop key="output.encoding">UTF-8</prop>
                <!--<prop key="parser.pool.size">100</prop>-->
                <!--<prop key="velocimacro.library">macros/macros.vm</prop>-->
                <!--<prop key="velocimacro.library.autoreload">true</prop>-->
            </props>
        </property>
    </bean>
    <bean id="velocityViewResolver" class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
        <property name="cache" value="true"/>
        <property name="exposeSpringMacroHelpers" value="true"/>
        <property name="requestContextAttribute" value="true"/>
        <property name="exposeSessionAttributes" value="true"/>
        <property name="prefix" value=""/>
        <property name="order" value="1"/>
        <property name="allowSessionOverride" value="true"/>
        <property name="viewNames">
            <list>
                <value>*.vm</value>
                <value>*.htm</value>
            </list>
        </property>
        <property name="contentType" value="text/html; charset=UTF-8"/>
        <property name="viewClass" value="org.springframework.web.servlet.view.velocity.VelocityLayoutView"/>
        <property name="layoutUrl" value="layout.vm"/>
    </bean>

    <bean id="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/test?useUnicode=true&amp;characterEncoding=UTF-8"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>

    <!-- for old versions -->
    <!--<mongo:mongo id="mongo" host="localhost" port="27017">-->
        <!--<mongo:options-->
                <!--connect-timeout="1000"-->
                <!--max-wait-time="1500"-->
                <!--socket-keep-alive="true"-->
                <!--socket-timeout="1500"-->
                <!--slave-ok="true"-->
                <!--write-number="1"-->
                <!--write-timeout="0"-->
                <!--write-fsync="true"-->
                <!--connections-per-host="10"-->
                <!--threads-allowed-to-block-for-connection-multiplier="10"-->
                <!--auto-connect-retry="true"/>-->
    <!--</mongo:mongo>-->

    <!-- mongoDB config -->
    <mongo:mongo-client host="localhost" port="27017" id="mongo">
        <mongo:client-options write-concern="SAFE"/>
    </mongo:mongo-client>

    <mongo:db-factory id="mongoDbFactory" dbname="test" mongo-ref="mongo"/>

    <!-- Spring提供的mongodb操作模板-->
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
    </bean>

    <!--<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">-->
    <!--&lt;!&ndash; 数据库基本信息配置 &ndash;&gt;-->
    <!--<property name="url" value="jdbc:MySQL://localhost:3306/test"/>-->
    <!--<property name="username" value="root"/>-->
    <!--<property name="password" value="root"/>-->
    <!--<property name="driverClassName" value="com.mysql.jdbc.Driver"/>-->
    <!--<property name="filters" value="stat"/>-->
    <!--&lt;!&ndash; 最大并发连接数 &ndash;&gt;-->
    <!--<property name="maxActive" value="20"/>-->
    <!--&lt;!&ndash; 初始化连接数量 &ndash;&gt;-->
    <!--<property name="initialSize" value="1"/>-->
    <!--&lt;!&ndash; 配置获取连接等待超时的时间 &ndash;&gt;-->
    <!--<property name="maxWait" value="60000"/>-->
    <!--&lt;!&ndash; 最小空闲连接数 &ndash;&gt;-->
    <!--<property name="minIdle" value="10"/>-->
    <!--&lt;!&ndash; 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 &ndash;&gt;-->
    <!--<property name="timeBetweenEvictionRunsMillis" value="60000"/>-->
    <!--&lt;!&ndash; 配置一个连接在池中最小生存的时间，单位是毫秒 &ndash;&gt;-->
    <!--<property name="minEvictableIdleTimeMillis" value="300000"/>-->
    <!--<property name="validationQuery" value="SELECT 'x'"/>-->
    <!--<property name="testWhileIdle" value="true"/>-->
    <!--<property name="testOnBorrow" value="false"/>-->
    <!--<property name="testOnReturn" value="false"/>-->
    <!--<property name="maxOpenPreparedStatements" value="20"/>-->
    <!--&lt;!&ndash; 打开 removeAbandoned 功能 &ndash;&gt;-->
    <!--<property name="removeAbandoned" value="true"/>-->
    <!--&lt;!&ndash; 1800 秒，也就是 30 分钟 &ndash;&gt;-->
    <!--<property name="removeAbandonedTimeout" value="1800"/>-->
    <!--&lt;!&ndash; 关闭 abanded 连接时输出错误日志 &ndash;&gt;-->
    <!--<property name="logAbandoned" value="true"/>-->
    <!--</bean>-->

    <bean id="dataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
          autowire="byType">
    </bean>
    <tx:advice id="transaction" transaction-manager="dataSourceTransactionManager">
        <tx:attributes>
            <tx:method name="save*"/>
            <tx:method name="update*"/>
            <tx:method name="delete*"/>
        </tx:attributes>
    </tx:advice>
    <aop:config>
        <aop:pointcut id="createOperate" expression="execution(* com.hisw.biz.*.*(..))"/>
        <aop:advisor advice-ref="transaction" pointcut-ref="createOperate"/>
    </aop:config>

</beans>